@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Amiri:400,400italic,700,700italic);

.--gg-blank-page-wrapper{
  box-sizing: border-box;
  padding: 50px 40px;
  font-family: Cardo, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  background-color: #dedede;
  color: #333;
  width: 100%;
  height: 100%;
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .inner-wrapper{
    margin:auto;
    max-width: 800px;  
  }
  
  .more{
    cursor: pointer;
    // border-bottom: 1px solid #aaa;
    animation: .8s ease-in-out 0s infinite alternate blink;
  }
}

@media(max-width:600px){
  .--gg-blank-page-wrapper{
    font-size: 20px;    
  }

}

@keyframes blink{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}